
<!DOCTYPE html>
<html lang="en">
<head>
  <link href="/css/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content=
              "width=device-width, initial-scale=1.0">
    <title>retrieve file</title>

   
</head>
<body>
  
    <div class="login-page">
  
        <div class="form">
          
       <a class="arow" href="/api/users/home"  >&larr;</a>

    <form class="login-form" action="/api/files/:filename" method="get" >
        <input type="text" placeholder="search by name" name="filename">
        <button type="submit">search</button>
        
    </form>
    <form class="login-form" action="/api/files/:<%= filename %>?_method=DELETE" method="post" >
        <input type="text" placeholder="search by name" name="filename">
        <button type="submit">delete</button>
        <p class="p"><%= msg.text %></p>
    </form>
    </div>
    </div>
    
</body>
</html>