
<!DOCTYPE html>
<html lang="en">
<head>
  <link href="/css/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content=
              "width=device-width, initial-scale=1.0">
    <title>upload file</title>
</head>
<body>
  
    <div class="login-page">
  
        <div class="form">
          
       <a class="arow" href="/api/users/home"  >&larr;</a>

    <form class="login-form" action="/api/upload" method="post" enctype="multipart/form-data">
        <input type="file" id="file" placeholder="Choose file" name="file" >
        <button type="submit" >upload</button>
        <h1><%= msg.text %></h1>
    </form>
    </div>
    </div>
    
</body>
</html>